@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vx19xe');
  src:  url('fonts/icomoon.eot?vx19xe#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vx19xe') format('truetype'),
    url('fonts/icomoon.woff?vx19xe') format('woff'),
    url('fonts/icomoon.svg?vx19xe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-circle-o-left:before {
  content: "\e900";
}
.icon-arrow-circle-o-right:before {
  content: "\e901";
}
.icon-comment:before {
  content: "\e903";
}
.icon-heart:before {
  content: "\e904";
}
.icon-thumbs-down:before {
  content: "\e906";
}
.icon-home3:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-search:before {
  content: "\e986";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}



*{box-sizing: border-box;} /*always need this */

body{
    font-family: 'Roboto';
	min-width: 320px;
	max-width: 960px;
	margin: 0 auto;

}
	/*HEADER STYLING*/
	body>header{
		background-color: rgba( 255, 0, 0, 0.735 );
		color: #fff;
		overflow: hidden;
		padding: 0 0 0 0;
		display:flex;
		flex-direction: column;
		text-align: center;
	}
		body>header>img{
            margin-top: .6em;
			max-width:30%;
			align-self: center;
		}
			body>header>div>h1,
			body>header>div>p{
				font-weight: bold;
				color: #FFFFFF;

			}
			body>header>p{
				font-size: 1.2em;
				border-top: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
				padding:  .5em;
				margin-top: 0;
			}


/*NAV BAR STYLING*/
.active {
    background-color: #f34444;
}
body>nav{
    border-bottom: 1px solid #EAEAEB;
    text-align: center;
    line-height:2em;
}
.menu{
    overflow: hidden;
    background-color: #333;
    text-align:center;
    display:none;
}
.menu a{
    margin:0em;
    display: block;
    line-height: ;
    color: white;
    text-align: center;
    padding: ;
    text-decoration: none;
}
.menu a>span{
    display:inline;
}
.menu a:hover:not(.active){
    background-color: #777777;
}
label{
    margin:0  0 0;
    font-size: ;
    line-height: ;
    display: block;
    cursor: pointer;
}
#toggle{
 display: none;   
}
#toggle:checked + .menu{
    display: block;
}

/*MAIN AREA STYLING*/
body>section{
	background-color: #f05a5a;
	padding-top: 0;
	overflow: hidden;
    min-height: calc(100vh - 308.85px - 67.2px)
}
@media all and (min-width: 717px){
    body>section{
        min-height: calc(100vh - 196.4px);
    }
    }
    /*QUICK SEARCH BAR*/

	body>section>h2{
		color: #FFFFFF;
		text-align: center;
		border-bottom: 1px solid #234;
		background-color: #c23636;
		padding: .5em;
		margin: 0 auto;
	}
	/*CONTAINER FOR RECIPE ARTICLES*/
	body>section>div{
		display: flex;
        margin:auto;
		flex-direction: column;
	}
		/*RECIPE STYLING*/
		body>section>div>article{
            display: flex;
            flex-direction: column;
			margin: .5em;
			padding: .5em;
			background-color: #fff;
		}
            body>section>div>article>div>a{
                display: flex;
                color: black;
                text-decoration: none;
                align-content: ;
            }
            body>section>div>article>div>a>h3{
            margin: 0 auto;
            padding: .5em;
            display: inline;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            }
            body>section>div>article>div>p{
                text-align: justify;
            }
            body>section>div>article>div>img{
                max-width: 100%;
                }
            body>section>div>article>div time{
                float:right;
            }
            .social{
                text-align: center;
                background-color: #eaeaea;
                border:1px solid #c9b9b9;
                padding:.3em;
                margin-top: 3em;
            }
            .social>i{
            padding-left: 1.5em;
                margin:auto;
            }
            .social>p{
            display: inline;
            padding-right: 1.5em;
            padding-left: .5em;
            margin:auto;
            }

            .icon-heart{
                color:red;
            }
            .icon-thumbs-down{
                color:blue;
            }
            .icon-comment{
                color:#42000e
            }
body>section>div>article>div{
    display: flex;
    flex-direction: column;
    height: 1;
    flex-grow:1;
}
.flexible{display: flex;}

/*REGISTER PAGE*/
#register{
    display: flex;  
    margin:auto;
}

/*LOGIN PAGE*/



/* Full-width inputs */
input[type=text], input[type=password], input[type=email], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

/* Set a style for all buttons */
.container>button {
    background-color:#AFAFAF ;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
.container>button:hover,a:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.container>.cancelbtn {
    width: auto;
    background-color: #F71010;
}
/*Extra style for register button(green)*/
.container>#registerbtn{
    width: auto;
    background-color: #47E009;
}
/* Add padding to containers */
form>div>.container {
    padding: .5em;
    width:20em;
    background-color: #D2D2D2;
}

/* The "Forgot password" text */
span.psw {
    float: none;
    padding-top: 16px;
    display: block;
}
    span.psw {
        display:inline;
       
    }
    .cancelbtn {
        width: 100%;
        padding:0;
    }
}
/*SEARCH PAGE*/

.search-container{
    display: flex;
    flex-direction: row;
    background: #ddd;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
}

#qSearchContainer{
    max-width: 425.6px;
}

.search-container input[type=text]{
    display: flex;
    padding: 6px 10px;
    margin-top: 8px;
    font-size: 1.5em;
    border: none;
    margin: auto;
}


#quickSearch{
    padding:12px;
    font-size: 14px;
}
.search-container form{
    width: 100%;
    margin: auto;
    padding: .5em;
    display: flex; 
}
.search-container button{
    background: #ccc;   
    padding: .55em;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin: auto;
    }

#pagination {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: #dcc6c6;
    padding:.5em;
}

#pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}
/*FOOTER STYLING*/
body>footer{
    overflow: hidden;
    background-color: #bd1818; 
    color: #fff;    
    padding: .5em;
    }
    body>footer>p{
        display: inline-block;
        margin-left: .5em;
    }
        body>footer>p>a{
            color: white
        }
/*ACTIVATE DESKTOP NAV BAR WHEN DEVICE WIDTH MORE THAN 480PX*/
@media all and (min-width:480px){
     body>section{
        min-height: calc(100vh - 334.50px)
    }
    body>nav{
        background-color:#333333 ;
        padding: .6em;
    }
    body>nav>label{
        display: none;
    }
    .menu{
        display: inline;
    }
    .menu a{
        padding:.93em;
        display: inline;
    }
    .menu a>span{
        display:none;
    }
  
}
/*SHOW MENU TEXT ONLY WHEN CAN FIT IN ONE LINE*/
@media all and (min-width:664px){
    .menu a>span{
        display: inline;
    }

}
    /*WRAP ARTICLES IN ROWS WHEN SCREEN LARGER THAN 540PX*/
@media all and (min-width: 540px)
{
    body>section{
        min-height: calc(100vh - 196.4px - 67.2px);
    }
	body{
		min-width: 500px;
		max-width: 100%;
	}
    /*CENTERING HEADER AND PUTTING INTO ONE ROW*/
		body>header{
			flex-direction: row;
            justify-content: center;
		}
            body>header>p{
                margin-left:  ;
                margin: 1.7em 0 0 .5em;
                align-self: center;
            }
            body>header>h1{
                margin: 1em 0 0 .5em;
                align-self: center;
            }
            body>header>img{
				margin:0;
                padding: .5em 0 .5em 0;
                align-self: center;
            }
        /*CREATING ROWS FOR ARTICLES*/
        body>section>div{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        }
            body>section>div>article{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                min-width: 400px;
            }
}

@media all and (min-width: 640px){
	body>header>img{
		margin-right: 0;
		padding-left: .5em;
	}
		body>section>div{
        margin: auto;
        padding: 0;
        max-width: 80%;
		}
			body>section>div>article{
				width:300px;

				margin:.2em;
			}
}