*{box-sizing: border-box;} /*always need this */

body{
	min-width: 320px;
	max-width: 960px;
	margin: 0 auto;
}

body>header{
	background-color: #1B5074;
	color: #fff;
	overflow: hidden;
	padding: .5em;
	display:flex;
	flex-direction: column;
	text-align: center;
}

body>header>img{
	max-width:30%;
	align-self: center;
}
body>header>div>h1,
body>header>div>p{
	margin:0;
}
body>header>div>p{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: .5em 0;
	margin-top: .5em;
}

body>section{
	background-color: #ccc;
	padding-top: 0;
	overflow: hidden;
}

body>section>h2{
	text-align: center;
	border-bottom: 1px solid #234;
	background-color: #BEBEBE;
	padding: .5em;
	margin: 0 auto;
}

body>section>ul{
	display: flex;
	flex-direction: row;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;;
}

body>section>ul>li{	
	margin: 0 auto; 
	overflow: hidden;
}
.active {
    background-color: #4CAF50;
}

body>section>ul>li>a{
	display:block;
	color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body>section>ul>li>a:hover:not(.active){
	background-color: #111;
}

body>section>div{
	display: flex;
	flex-direction: column;
}

body>section>div>article{
	margin: .5em;
	padding: .5em;
	background-color: #fff;
}

body>footer{
	overflow: hidden;
	background-color: #2E0000;
	color: #fff;
	padding: .5em;
	}
	body>footer>p{
		display: inline-block;
		margin-left: .5em;
	}
		body>footer>p>a{
			color: white
		}

@media all and (min-width: 540px)
{
	body>header{
		flex-direction: row;
	}
	body>header>img{
		margin-right: 1em;
		padding-left: .5em;
	}
	body>header>div{
		flex-grow: 1;
		padding: 2em;
	}
}

@media all and (min-width: 640px){
	body>header>img{
		margin-right: 0;
		padding-left: .5em;
	}
	body>section>div{
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around; /*Really important setting, utilises all available (empty) space and flows it AROUND elements, allows a dynamic transition between the amount of content on each row as the screen expands rather than lots of empty space on the right hand side until another article pops up*/
		}
		body>section>div>article{
			width:300px;
			flex-grow:1;
			margin: .5em;
		}
}